<select name="sortby" id="sortby" class="sortbySelector">
    <option disabled selected></option>
    <option value="name-desc" class="name-desc">Name (Desc)</option>
    <option value="name-asc" class="name-asc">Name (Asc)</option>
    <option value="pokedex_number-desc" class="pokedex_number-desc">Pok&#233;dex number (Desc)</option>
    <option value="pokedex_number-asc" class="pokedex_number-asc">Pok&#233;dex number (Asc)</option>
    <option value="price-desc" class="price-desc">Price (Desc)</option>
    <option value="price-asc" class="price-asc">Price (Asc)</option>
</select>