<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
    <link rel="icon" href="/assets/favicon.svg">
    <script type="text/javascript" src="/utilities/setTheme.js" defer></script>
    <title><%- title %></title>
</head>
<body class="theme-light">
    <header>
        <%- include("partials/header") %>
    </header>
    <main>
        <div class="titleContainer">
            <h1 class="title"><%- title %></h1>
        </div>
        <form action="/new" method="POST" class="addItemForm">
            <div class="formItem">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" minlength="3" maxlength="12" required/>
            </div>
            <div class="formItem">
                <label for="generation">Generation: </label>
                <select name="generation" id="generation" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="formItem">
                <label for="pokedex_number">Pok&#233;dex number: </label>
                <input type="number" name="pokedex_number" id="pokedex_number" min="1" max="1025" required />
            </div>
            <div class="formItem">
                <label for="type1">Type 1: </label>
                <select name="type1" id="type1" required>
                    <option value="1">Normal</option>
                    <option value="2">Fighting</option>
                    <option value="3">Flying</option>
                    <option value="4">Poison</option>
                    <option value="5">Ground</option>
                    <option value="6">Rock</option>
                    <option value="7">Bug</option>
                    <option value="8">Ghost</option>
                    <option value="9">Steel</option>
                    <option value="10">Fire</option>
                    <option value="11">Water</option>
                    <option value="12">Grass</option>
                    <option value="13">Electric</option>
                    <option value="14">Psychic</option>
                    <option value="15">Ice</option>
                    <option value="16">Dragon</option>
                    <option value="17">Dark</option>
                    <option value="18">Fairy</option>
                    <option value="19">Stellar</option>
                    <option value="20">Unknown</option>
                </select>
            </div>
            <div class="formItem">
                <label for="type2">Type 2: </label>
                <select name="type2" id="type2">
                    <option value="0"></option>
                    <option value="1">Normal</option>
                    <option value="2">Fighting</option>
                    <option value="3">Flying</option>
                    <option value="4">Poison</option>
                    <option value="5">Ground</option>
                    <option value="6">Rock</option>
                    <option value="7">Bug</option>
                    <option value="8">Ghost</option>
                    <option value="9">Steel</option>
                    <option value="10">Fire</option>
                    <option value="11">Water</option>
                    <option value="12">Grass</option>
                    <option value="13">Electric</option>
                    <option value="14">Psychic</option>
                    <option value="15">Ice</option>
                    <option value="16">Dragon</option>
                    <option value="17">Dark</option>
                    <option value="18">Fairy</option>
                    <option value="19">Stellar</option>
                    <option value="20">Unknown</option>
                </select>
            </div>
            <div class="formItem">
                <label for="rarity">Rarity: </label>
                <select name="rarity" id="rarity" required>
                    <option value="common">Common</option>
                    <option value="legendary">Legendary</option>
                    <option value="mythical">Mythical</option>
                </select>
            </div>
            <div class="formItem">
                <label for="shiny">Shiny: </label>
                <input type="checkbox" name="shiny" id="shiny" />
            </div>
            <div class="formItem">
                <label for="price">Price: </label>
                <input type="number" name="price" id="price" min="1" max="999999" required/>
            </div>
            <button type="submit" class="submitFormButton">Submit</button>
            <input type="reset" value="Reset" class="resetFormButton">
        </form>
        <a href="/">Back to home</a>
    </main>
</body>
</html>