/* Index stylesheet */

/* main styling begins -----------------------*/
main {
    padding: 0.2rem;
}

/* inventory styling begins */
.inventorySection {
    display: flex;
    width: 100%;
}

.inventoryList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.inventoryItem {
    box-sizing: border-box;
    margin: 0.2rem;
    border: 2px solid var(--color-text);
    border-radius: 3px;
    padding: 0.5rem;
    min-width: 340px;
    width: max(340px, calc(25% - 0.4rem));
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "img details"
        "img controls";
}

.imageWrapperViewLink:hover {
    background-color: var(--color-accent);
}

.itemImageWrapper {
    grid-area: img;
    border-radius: 3px;
}

.itemImageWrapper:hover {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.itemDetailsWrapper {
    margin-left: 0.25rem;
}

.itemDetailsWrapper {
    width: 100%;
    grid-area: details;
}

.itemControls {
    display: flex;
    gap: 0.2rem;
    grid-area: controls;
}

.viewLink {
    margin-left: auto;
}

.deleteButton:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}
/* inventory item styling ends */

.addNewContainer {
    margin: 1rem 0;
    text-align: center;
    width: 100%;
}

.addNewLink {
    width: 100%;
    padding: 0.4rem;
    border: 3px solid var(--color-text);
    border-radius: 3px;
}

.addNewLink:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

/* main styling ends ------------------------ */

/* window size styling begins -------------------------------------- */

/* window size styling begins -------------------------------------- */

/* inventory styling with filter bar begins */
@media (max-width: 1670px) {
    .inventoryItem.filtersShown {
        width: max(350px, calc(33% - 0.22rem));
    }
}

@media (max-width: 1380px) {
    .inventoryItem.filtersShown {
        width: max(350px, calc(50% - 0.4rem));
    }
}

@media (max-width: 1100px) {
    .inventoryItem.filtersShown {
        width: max(350px, calc(100% - 0.4rem));
    }
}
/* inventory styling with filter ends begins */

/* inventory styling without filter bar begins */
@media (max-width: 1600px) {
    .inventoryItem.filtersHidden {
        width: max(350px, calc(33% - 0.22rem));
    }
}

@media (max-width: 1100px) {
    .inventoryItem.filtersHidden {
        width: max(350px, calc(50% - 0.4rem));
    }
}

@media (max-width: 750px) {
    .inventorySection {
        display: block;
    }

    .inventoryListContainer {
        display: block;
    }

    .inventoryItem.filtersHidden {
        width: max(350px, calc(100% - 0.4rem));
    }
}
/* inventory styling without filter ends */

/* window size styling ends -------------------------------------- */